<div class="container-indent">
  <div class="container">
    <form action="/cart" method="post" novalidate id="updateform">
      <h1 class="tt-title-subpages noborder">{{ 'cart.general.title' | t }}</h1>
      <div class="tt-shopcart-table-02">
        <table>
          <tbody>
            {%- for item in cart.items -%}
            {%- assign inv_man = item.variant.inventory_management -%}{%- assign inv_qua = item.variant.inventory_quantity | plus: 0 -%}{%- unless inv_man -%}{%- assign inv_qua = 100000 -%}{%- endunless -%}{%- if item.variant.available and inv_qua == 0 -%}{%- assign inv_qua = 100000 -%}{%- endif -%}
            <tr>
              <td>
                <div class="tt-product-img">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.alt | escape }}">
                </div>
              </td>
              <td>
                <h2 class="tt-title">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                  {%- unless item.variant.title contains 'Default' -%}
                  <p>
                    {%- for option in item.product.options -%}
                    {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                    {%- endfor -%}
                  </p>
                  {%- endunless -%}
                </h2>
                <ul class="tt-list-parameters">
                  <li>
                    <div class="tt-price">{{item.price | money}}</div>
                  </li>
                  <li>
                    <div class="detach-quantity-mobile"></div>
                  </li>
                  <li>
                    <div class="tt-price subtotal">{{item.line_price | money}}</div>
                  </li>
                </ul>
              </td>
              <td>
                <div class="tt-price">{{item.price | money}}</div>
              </td>
              <td>
                <div class="detach-quantity-desctope">
                  <div class="tt-input-counter style-01 input-counter">
                    <span class="minus-btn"></span>
                    <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" size="{{ inv_qua }}" title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}">
                    <span class="plus-btn" title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}"></span>
                  </div>
                </div>
              </td>
              <td>
                <div class="tt-price subtotal">{{item.line_price | money}}</div>
              </td>
              <td>
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="tt-btn-close svg-icon-delete" title="{{ 'cart.header.button_delete' | t }}">
                  {% include "svg-delete-icon" %}
                </a>
              </td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <div class="tt-shopcart-btn">
          <div class="col-left">
            <a class="btn-link" href="/"><i class="icon-e-09"></i>{{ 'cart.general.continue_shopping' | t }}</a>
          </div>
          <div class="col-right">
            <a class="btn-link svg-icon-delete-inline"
               href="/cart/clear">
              {% include "svg-delete-icon" %}{{ 'cart.general.clear_cart' | t }}
            </a>
            <a class="btn-link" href="#" name="update"><i class="icon-e-17"></i>{{ 'cart.general.update' | t }}</a>
          </div>
        </div>
      </div>
      <div class="tt-shopcart-col">
        <div class="row">
          <div class="col-md-12 col-lg">
            <div class="tt-shopcart-box">
              <h4 class="tt-title">Do I have to pay sales tax and/or import duty?</h4>
              <p>Japanese sales tax is not required for products leaving Japan. Products entering a foreign country may be subject to import duties as determined by customs in the destination country. If the product is returned to us because of refusal to pay import duty you will be charged a 20% restocking fee and shipping costs will not be refunded. No exceptions. Please check with your local customs office to see if you are subject to additional fees before making a purchase.</p>
              <p style="float: none; text-align: right; clear: both; margin: 10px 0;">
  			    <input style="float:none; vertical-align: middle;" type="checkbox" id="agree" />
  			    <label style="display:inline; float:none" for="agree">
    				I understand that I may be required to pay additional sales tax and/or an import duty fee.
  				</label>
			  </p>
            </div>
          </div>
        </div>
        <div class="row">
          {%- if item.cart_shipping_enable -%}
          <div class="col-md-6 col-lg">
            <div class="tt-shopcart-box">
              {%- include 'shipping-calculator' -%}
            </div>
          </div>
          {%- endif -%}
          {%- if item.cart_notes_enable -%}
          <div class="col-md col-lg">
            <div class="tt-shopcart-box">
              <h4 class="tt-title">{{ 'cart.label.note' | t }}</h4>
              <p>{{ 'cart.label.note_text' | t }}</p>
              <div class="form-default">
                <textarea id="note" name="note" class="form-control" rows="7">{{ cart.note }}</textarea>
              </div>
            </div>
          </div>
          {%- endif -%}
          {%- if item.cart_notes_enable == false and item.cart_shipping_enable == false -%}
          <div class="col-md-6 col-lg-6">
          </div>
          {%- endif -%}
          <div class="col-md-6 {% if item.cart_notes_enable == false and item.cart_shipping_enable == false %}col-lg-6{% else %}col-lg{% endif %}">
            <div class="tt-shopcart-box tt-boredr-large">
              <table class="tt-shopcart-table01">
                <tbody>
                  <tr id="subtotal">
                    <th>{{ 'cart.general.subtotal' | t }}</th>
                    <td>{{ cart.total_price | money }}</td>
                  </tr>
                  <tr id="tax" style="display:none">
                    <th>{{ 'cart.general.shipping_total' | t }}</th>
                    <td>{{ 0 | money }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr id="grandtotal">
                    <th>{{ 'cart.general.total' | t }}</th>
                    <td>{{ cart.total_price | money }}</td>
                  </tr>
                </tfoot>
              </table>
              {% if settings.terms_cond_checkbox_show %}
              <div class="checkbox-group term-conditions-checkbox term-conditions-checkbox-js">
                <input type="checkbox" id="cart-term-conditions-checkbox" value="1">
                <label for="cart-term-conditions-checkbox">
                  <span class="check"></span>
                  <span class="box"></span>
                  {{ settings.terms_cond_checkbox_text }}
                </label>
              </div>
              {% endif %}
              <button type="submit" class="btn btn-lg" name="checkout"{% if settings.terms_cond_checkbox_show %} disabled{% endif %}><span class="icon icon-check_circle"></span>{{ 'cart.general.checkout' | t }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>