<div class="col-md-4 col-lg-3 col-xl-3 leftColumn{% if item_sidebar == "rightColumn" %} rightColumn{% endif %} aside{% if item_sidebar contains "hidden_closed" %} desctop-no-sidebar{% endif %}">
  <div class="tt-btn-col-close">
    <a href="#">{{ 'collections.sidebar.back' | t }}</a>
  </div>
  <div class="tt-collapse open tt-filter-detach-option">
    <div class="tt-collapse-content">
      <div class="filters-mobile">
        <div class="filters-row-select">

        </div>
      </div>
    </div>
  </div>

  {%- if settings.show_collectionstab -%}{%- include "collection-sidebar-collections" -%}{%- endif -%}
  
  {%- include "collection-sidebar-filter-shopping" -%}
  
  {%- comment -%}Filters{%- endcomment -%}

  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:1 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:2 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:3 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:4 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:5 -%}{%- endcapture -%}{{ value | strip }}

  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:6 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:7 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:8 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:9 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:10 -%}{%- endcapture -%}{{ value | strip }}
  
  {%- if settings.show_collectionsbanner -%}{%- include "collection-sidebar-banner" -%}{%- endif -%}
  
</div>