{%- if subscribe_form != '' and subscribe_form.settings.show_content -%}
<div class="tt-footer-custom tt-color-scheme-02">
  <div class="container">
    <div class="tt-row">
      <div class="tt-col-left">
        
        <div class="tt-col-item">
          <div class="tt-newsletter">
            <div class="tt-mobile-collapse">
              <h4 class="tt-collapse-title">
                {{ subscribe_form.settings.text1 }}
              </h4>
              <div class="tt-collapse-content">
                <div class="form-default">
                  {%- if settings.use_mailchimp_form -%}
                  {%- if settings.mailchimp_form_action != "" -%}
                  <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline form-default">
                    <div class="form-group">
                      <input type="email" name="EMAIL" class="form-control" placeholder="{{ subscribe_form.settings.text4 }}">
                      <button type="submit" class="btn">{{ subscribe_form.settings.text3 }}</button>
                    </div>
                  </form>
                  {%- else -%}
                  <strong><u><a href="{{ shop.url }}/admin/themes" style="color: black;">
                    Add newsletter redirect link in:<br>
                    Customize Theme / General Settings / Newsletter / MailChimp form action URL
                    </a></u></strong>
                  {%- endif -%}
                  
                  {%- else -%}
                  {%- form 'customer' -%}
                  {{ form.errors | default_errors }}
                  {%- if form.posted_successfully? -%}

                  {%- endif -%}
                  <div class="form-group">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email"
                           name="contact[email]"
                           class="form-control"
                           value="{% if customer %}{{ customer.email }}{% endif %}"
                           placeholder="{{ subscribe_form.settings.text4 }}"
                           autocomplete="off"
                           autocapitalize="off"
                           spellcheck="false" >
                    <button type="submit" class="btn" name="commit">{{ subscribe_form.settings.text3 }}</button>
                  </div>
                  {%- endform -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- if subscribe_form.settings.show_socials -%}
      {%- capture soc_links -%}
      {%- if subscribe_form.settings.facebook_url -%}<li><a class="icon-g-64" target="_blank" href="{{ subscribe_form.settings.facebook_url }}"></a></li>{%- endif -%}
      {%- if subscribe_form.settings.twitter_url -%}<li><a class="icon-h-58" target="_blank" href="{{ subscribe_form.settings.twitter_url }}"></a></li>{%- endif -%}
      {%- if subscribe_form.settings.gmail_url -%}<li><a class="icon-g-66" target="_blank" href="{{ subscribe_form.settings.gmail_url }}"></a></li>{%- endif -%}
      {%- if subscribe_form.settings.instagram_url -%}<li><a class="icon-g-67" target="_blank" href="{{ subscribe_form.settings.instagram_url }}"></a></li>{%- endif -%}
      {%- if subscribe_form.settings.pinterest_url -%}<li><a class="icon-g-70" target="_blank" href="{{ subscribe_form.settings.pinterest_url }}"></a></li>{%- endif -%}
      {%- endcapture -%}
      {%- assign soc_links = soc_links | strip -%}
      {%- if soc_links != '' -%}
      <div class="tt-col-right">
        <div class="tt-col-item">
          <ul class="tt-social-icon">{{ soc_links }}</ul>
        </div>
      </div>
      {%- endif -%}{%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}