{%- if footer_links != '' and footer_links.settings.show_content -%}
{%- assign no_col_4 = '' -%}

{%- assign count = 0 -%}
{%- for i in (1..4) -%}
{%- assign html_show = 'linklist_showhtml' | append: i -%}{%- assign html_show = footer_links.settings[html_show] -%}
{%- assign _linklist = 'linklist' | append: i -%}{%- assign _linklist = footer_links.settings[_linklist] -%}
{%- if _linklist != blank or html_show -%}{%- assign count = count | plus: 1 -%}
{%- elsif i == 4 and footer_links.settings.show_subsribe_form -%}{%- assign count = count | plus: 1 -%}
{%- endif -%}
{%- endfor -%}

{%- assign gridmdlast = "" -%}
{%- case count -%}
{%- when 3 -%}

{%- if footer_links.settings.show_subsribe_form -%}
	{%- assign gridmd = "col-md-6 col-lg-3 col-xl-3" -%}
	{%- assign gridmdlast = "col-md-6 col-lg-6 col-xl-6" -%}
{%- else -%}
	{%- assign gridmd = "col-md-6 col-lg-4 col-xl-4" -%}
{%- endif -%}

{%- when 2 -%}
{%- assign gridmd = "col-md-6 col-lg-6 col-xl-6" -%}
{%- when 1 -%}
{%- assign gridmd = "col-md-12 col-lg-12 col-xl-12" -%}
{%- else -%}
{%- if footer_links.settings.show_subsribe_form -%}
{%- assign gridmd = "col-md-6 col-lg-2 col-xl-3" -%}
{%- assign gridmdlast = "col-md-6 col-lg-4 col-xl-3" -%}
{%- else -%}
{%- assign gridmd = "col-md-6 col-lg-3 col-xl-3" -%}
{%- endif -%}
{%- endcase -%}

<div class="{% if count == 1 %}tt-footer-center{% else %}tt-footer-col{% endif %} tt-color-scheme-03">
  <div class="container">
    <div class="{% if count == 1 %}tt-row{% else %}row{% endif %} mobile-footer-flex">

      {%- for i in (1..4) -%}
      {%- assign _linklist = 'linklist' | append: i -%}
      {%- assign _title = 'linklist_t' | append: i -%}
      {%- assign html_show = 'linklist_showhtml' | append: i -%}
      {%- assign html_content = 'linklist_html' | append: i -%}
      {%- assign _linklist = footer_links.settings[_linklist] -%}
      {%- assign html_show = footer_links.settings[html_show] -%}
      {%- if _linklist != blank or html_show or i == 4 and footer_links.settings.show_subsribe_form -%}

      
      {%- if i == 3 -%}{%- assign gridmd = gridmd | replace: 'col-lg-2', 'col-lg' -%}{%- endif -%}
      {% unless count == 1 %}<div class="{% if forloop.last and gridmdlast != '' %}{{ gridmdlast }}{% else %}{{ gridmd }}{% endif %}">{% endunless %}
        {%- if i == 4 and footer_links.settings.show_subsribe_form -%}
        <div class="tt-newsletter">
          <div class="tt-mobile-collapse">
            <h4 class="tt-collapse-title">{{ footer_links.settings.text1 }}</h4>
            <div class="tt-collapse-content">
              <p>{{ footer_links.settings.text2 }}</p>
              
              {%- if settings.use_mailchimp_form -%}
              {%- if settings.mailchimp_form_action != "" -%}
              <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline form-default">
                <div class="form-group">
                  <input type="email" name="EMAIL" class="form-control" placeholder="{{ footer_links.settings.text4 }}">
                  <button type="submit" class="btn">{{ footer_links.settings.text3 }}</button>
                </div>
              </form>
              {%- else -%}
              <strong><u><a href="{{ shop.url }}/admin/themes" style="color: black;">
                Add newsletter redirect link in:<br>
                Customize Theme / General Settings / Newsletter / MailChimp form action URL
                </a></u></strong>
              {%- endif -%}
              
              {%- else -%}
              {% if count == 1 %}<div class="form-inline form-default">{% endif %}
              
              {%- form 'customer' -%}
              {{ form.errors | default_errors }}
              <div class="form-group">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email"
                       name="contact[email]"
                       class="form-control"
                       value="{% if customer %}{{ customer.email }}{% endif %}"
                       placeholder="{{ footer_links.settings.text4 }}"
                       autocomplete="off"
                       autocapitalize="off"
                       spellcheck="false" >
                <button type="submit" class="btn" name="commit">{{ footer_links.settings.text3 }}</button>
              </div>
              {%- endform -%}
              
              {% if count == 1 %}</div>{% endif %}
              {%- endif -%}
            </div>
          </div>
        </div>
        {%- if footer_links.settings.show_socials -%}
        {%- capture soc_links -%}
          {%- if footer_links.settings.facebook_url -%}<li><a class="icon-g-64" target="_blank" href="{{ footer_links.settings.facebook_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.twitter_url -%}<li><a class="icon-h-58" target="_blank" href="{{ footer_links.settings.twitter_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.gmail_url -%}<li><a class="icon-g-66" target="_blank" href="{{ footer_links.settings.gmail_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.instagram_url -%}<li><a class="icon-g-67" target="_blank" href="{{ footer_links.settings.instagram_url }}"></a></li>{%- endif -%}
          {%- if footer_links.settings.pinterest_url -%}<li><a class="icon-g-70" target="_blank" href="{{ footer_links.settings.pinterest_url }}"></a></li>{%- endif -%}
        {%- endcapture -%}
        {%- assign soc_links = soc_links | strip -%}
        {%- if soc_links != '' -%}<ul class="tt-social-icon">{{ soc_links }}</ul>{%- endif -%}
        {%- endif -%}

        {%- else -%}
        <div {% if footer_links.settings[_title] != 'JOHN LOFGREN' %}class="tt-mobile-collapse"{% endif %}>
          <h4 class="tt-collapse-title">{{ footer_links.settings[_title] }}</h4>
          <div class="tt-collapse-content">
            {%- if _linklist != blank -%}
            <ul class="tt-list">
              {%- for link in linklists[_linklist].links -%}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- endfor -%}
            </ul>
            {%- endif -%}
            {% if html_show %}
            {{ footer_links.settings[html_content] }}
            {% endif %}
          </div>
        </div>
        {%- endif -%}
        
      {% unless count == 1 %}</div>{% endunless %}


      {%- endif -%}
      {%- endfor -%}

    </div>
  </div>
</div>

{%- endif -%}