<nav>
  <ul class="centered-sticky">
    
    {%- for link in linklists[section.settings.main_menu_selected].links -%}
    
      {%- assign submenu_type = "" -%}
      {%- capture return -%}{%- include "get_linklist_dropdown", customlink: link -%}{%- endcapture -%}
      {%- assign return = return | split: "%%" -%}
      {%- assign child_list_handle = return | last | strip -%}
    
      {%- comment -%} Check submenu type {%- endcomment -%}
      {%- assign title = child_list_handle -%}
      {%- assign _title = title | append: '_' -%}
      {%- assign checkval = '|' | append: _title -%}
    
      {%- if str_blocks_title contains checkval -%}
    	{%- assign i = str_blocks_title | split: checkval | last | split: '|' | first | plus: 0 -%}
	    {%- assign section_block = section.blocks[i] -%}
    	{%- assign submenu_type = section_block.type -%}
    	{%- assign section_block = section_block.settings -%}
      {%- endif -%}
    
      {%- assign _title = link.title | append: '_' -%}
      {%- assign checkval = '|' | append: _title -%}
      {%- if str_blocks_title_drag contains checkval -%}
    	{%- assign i = str_blocks_title_drag | split: checkval | last | split: '|' | first | plus: 0 -%}
	    {%- assign section_block = section.blocks[i] -%}
    	{%- assign submenu_type = section_block.type -%}
    	{%- assign section_block = section_block.settings -%}
      {%- endif -%}

      {%- capture secondlevel -%}{%- if child_list_handle == 'false' -%}{{ link.handle }}{%- else -%}{{ child_list_handle }}{%- endif -%}{%- endcapture -%}
    {% if forloop.index0 == 4 %}
      <li>
        <img class="stuck-logo" src="https://cdn.shopify.com/s/files/1/0088/6027/0688/files/JLlogo4_navy_150x.png?v=1584000115"/>
      </li>
    <li class="dropdown{% if link.active %} selected{% endif %}{% if submenu_type == 'menu_two_columns' %} tt-megamenu-col-02{% elsif submenu_type == 'megamenu' %} megamenu{% else %} tt-megamenu-col-01{% endif %}" {{ block.shopify_attributes }}>
      <a href="{{ link.url }}">{{ link.title }}</a>

      {%- assign level_2 = linklists[secondlevel] -%}
      {%- if level_2.empty? -%}
      {%- assign secondlevel = link.title | handle -%}
      {%- assign level_2 = linklists[secondlevel] -%}
      {%- endif -%}

      {%- unless level_2.empty? -%}

      {%- if submenu_type == '' -%}
      	{%- include 'main-submenu-simple' -%}
      {%- endif -%}

      {%- if submenu_type == 'ms_simplewithtitle' or submenu_type == 'menu_two_columns' -%}
      	{%- include 'main-submenu-simple_with_title' -%}
      {%- endif -%}
      
      {%- if submenu_type == 'megamenu' -%}
      	{%- include 'main-submenu-megamenu' -%}
      {%- endif -%}
      
      {%- endunless -%}
      
    </li>
    {% else %}
    <li class="dropdown{% if link.active %} selected{% endif %}{% if submenu_type == 'menu_two_columns' %} tt-megamenu-col-02{% elsif submenu_type == 'megamenu' %} megamenu{% else %} tt-megamenu-col-01{% endif %}" {{ block.shopify_attributes }}>
      <a href="{{ link.url }}">{{ link.title }}</a>

      {%- assign level_2 = linklists[secondlevel] -%}
      {%- if level_2.empty? -%}
      {%- assign secondlevel = link.title | handle -%}
      {%- assign level_2 = linklists[secondlevel] -%}
      {%- endif -%}

      {%- unless level_2.empty? -%}

      {%- if submenu_type == '' -%}
      	{%- include 'main-submenu-simple' -%}
      {%- endif -%}

      {%- if submenu_type == 'ms_simplewithtitle' or submenu_type == 'menu_two_columns' -%}
      	{%- include 'main-submenu-simple_with_title' -%}
      {%- endif -%}
      
      {%- if submenu_type == 'megamenu' -%}
      	{%- include 'main-submenu-megamenu' -%}
      {%- endif -%}
      
      {%- endunless -%}
      
    </li>
    {% endif %}
    {%- endfor -%}
    
  </ul>
</nav>