<div class="dropdown-menu">
  <div class="row tt-col-list">
    <div class="col">
      <ul class="tt-megamenu-submenu tt-megamenu-preview">
        {%- for child_level_2 in level_2.links -%}
        <li><a href="{{ child_level_2.url }}"><span>{{ child_level_2.title }}</span></a>
        
          {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_2 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- if level_3.empty? -%}
          {%- assign child_list_handle = child_level_2.title | handle -%}
          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- endif -%}

          {%- if level_3.links != blank -%}
          <ul>
            {%- for child_level_3 in level_3.links -%}
            <li>
              <a href="{{ child_level_3.url }}"><span>{{ child_level_3.title }}</span></a>

              {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_3 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- if level_4.empty? -%}
              {%- assign child_list_handle = child_level_3.title | handle -%}
              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- endif -%}

              {%- if level_4.links != blank -%}
              <ul>
                {%- for child_level_4 in level_4.links -%}
                <li>
                  <a href="{{ child_level_4.url | downcase }}"><span>{{ child_level_4.title }}</span></a>

                  {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_4 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

                  {%- if has_drop_down == "true" -%}
                  {%- assign level_5 = linklists[child_list_handle] -%}
                  {%- unless level_5.empty? -%}
                  <ul>
                    {%- for child_level_5 in level_5.links -%}
                    <li><a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                  {%- endunless -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
          {%- endif -%}

        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>