{%- capture grid -%}{%- include 'get_property' data:value name:'[settings' property:'grid' default:'3' -%}{%- endcapture -%}
{%- capture title -%}{%- include 'get_property' data:value name:'[settings' property:'title' default:'Title' -%}{%- endcapture -%}
{%- capture categories -%}{%- include 'get_property' data:value name:'[settings' property:'categories' default:'' -%}{%- endcapture -%}

<h1 class="tt-title-subpages noborder">{{ title }}</h1>
<div class="tt-portfolio-masonry">
  {%- if categories != '' and categories contains ',' -%}
  {%- assign categories = categories | split: ',' -%}
  <div class="tt-filter-nav">
    {%- for cat in categories -%}
    <a data-filter="{% if forloop.first %}*{% else %}.{{ cat | handle }}{% endif %}" class="button{% if forloop.first %} current{% endif %}">{{ cat | strip }}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="tt-portfolio-content layout-default tt-grid-col-{{ grid }} tt-add-item">
    {%- assign images = value | split: '[images]' | last -%}
    {%- assign images = images | replace: '[image', '[[[image' -%}
    {%- assign images = images | split: '[[' -%}
    {%- for content in images offset: 1 -%}
      {%- capture src -%}{%- include 'get_property' data:content name:'[image' property:'src' default:'' -%}{%- endcapture -%}
      {%- capture href -%}{%- include 'get_property' data:content name:'[image' property:'href' default:'' -%}{%- endcapture -%}
      {%- capture cat -%}{%- include 'get_property' data:content name:'[image' property:'categorie' default:'' -%}{%- endcapture -%}
      {%- capture titl -%}{%- include 'get_property' data:content name:'[image' property:'title' default:'' -%}{%- endcapture -%}
      {%- capture cont -%}{%- include 'get_property' data:content name:'[image' property:'content' default:'' -%}{%- endcapture -%}

    <div class="element-item {{ cat | handle }}">
      <figure>
        <img src="{{ src }}" alt="" />
        <figcaption>
          {%- if titl != '' -%}<h6 class="tt-title">{%- if href != '' -%}<a href="{{ href }}">{{ titl }}</a>{%- else -%}{{ titl }}{%- endif -%}</h6>{%- endif -%}
          {%- if cont != '' -%}<p>{{ cont }}</p>{%- endif -%}
          <a href="{{ src }}" title="{{ 'general.general.portfolio_zoom_in' | t }}" class="tt-btn-zomm"></a>
        </figcaption>
      </figure>
    </div>
    {%- endfor -%}
  </div>
</div>