{%- if product.tags.size > 0 -%}{%- assign pr_array = '' -%}{%- for t in product.tags -%}{%- assign pr_array = pr_array | append: t -%}{%- unless forloop.last -%}{%- assign pr_array = pr_array | append: ',' -%}{%- endunless -%}{%- endfor -%}{%- assign pr_array = pr_array | downcase -%}
{%- assign tags = item.product_tab_tags | split: ',' -%}{%- assign array = '' -%}{%- assign tag_lang = '' -%}{%- for tag in tags -%}{%- if tag contains '__' -%}{%- assign value = tag | split: '__' | first -%}{%- assign array = array | append: ',' | append: value -%}{%- assign value = tag | split: '__' | last | strip -%}{%- assign tag_lang = tag_lang | append: ',' | append: value -%}{%- else -%}{%- assign array = array | append: ',' | append: tag -%}{%- assign tag_lang = tag_lang | append: ',' | append: '_empty_' -%}{%- endif -%}{%- endfor -%}{%- assign tags = array | split: ',' -%}{%- assign tag_lang = tag_lang | split: ',' -%}

  {%- for t in tags -%}
  {%- assign tag = t | strip | downcase -%}
  {%- if pr_array contains tag and tag != '' -%}
  {%- capture string -%}{%- if tag_lang[forloop.index0] != '_empty_' -%}{{ tag_lang[forloop.index0] }}{%- else -%}{{ t | strip }}{%- endif -%}{%- endcapture -%}
  <a href="{{ custom_url }}{{ tag | handle }}">{{ string }}</a>,&nbsp;
  {%- endif -%}
  {%- endfor -%}
!
{%- endif -%}