{% capture required %}{{ 'customer.general.required_fields' | t }}{% endcapture %}
<div class="container-indent">
  <div class="container">
    <h1 class="tt-title-subpages noborder">{{ 'customer.login.title' | t }}</h1>
    <div class="tt-login-form">
      <div class="row">
        {% if shop.customer_accounts_optional %}
        <div class="col-xs-12 col-md-6">
          <div class="tt-item">
            <h2 class="tt-title">{{ 'customer.login.new_customer' | t }}</h2>
            <p>{{ 'customer.login.new_customer_description' | t }}</p>
            <div class="form-group">
              <a href="/account/register" class="btn btn-top btn-border">{{ 'customer.login.new_customer_continue' | t }}</a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-3"></div>
        {% endif %}
        <div class="col-xs-12 col-md-6">
          <div class="tt-item">
            
            <div id="login">
              <h2 class="tt-title">{{ 'customer.login.title_login' | t }}</h2>
              {{ 'customer.login.description' | t }}

              <div class="form-default form-top">
                {% form 'customer_login' %}

                <div class="tt-base-color">
                {{ form.errors | default_errors }}
                </div>

                <div class="form-group">
                  <label for="loginInputName">{{ 'customer.login.email' | t }} {% if required != "" %}<sup>*</sup>{% endif %}</label>
                  {% if required != "" %}<div class="tt-required">{{ required }}</div>{% endif %}
                  <input type="email" name="customer[email]" class="form-control" id="loginInputName" placeholder="{{ 'customer.login.email_field' | t }}">
                </div>
                {% if form.password_needed %}
                <div class="form-group">
                  <label for="loginInputEmail">{{ 'customer.login.password' | t }} {% if required != "" %}<sup>*</sup>{% endif %}</label>
                  <input type="password" value="" name="customer[password]" class="form-control" id="loginInputEmail" placeholder="{{ 'customer.login.password_field' | t }}">
                </div>
                {% endif %}
                <div class="row">
                  <div class="col-auto mr-auto">
                    <div class="form-group">
                      <button class="btn btn-border" type="submit">{{ 'customer.login.sign_in' | t }}</button>
                    </div>
                  </div>
                  {% if form.password_needed %}
                  <div class="col-auto align-self-end">
                    <div class="form-group">
                      <ul class="additional-links">
                        <li><a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a></li>
                      </ul>
                    </div>
                  </div>
                  {% endif %}
                </div>

                {% endform %}
              </div>
            </div>

            <div id="recover-password" style="display:none;" class="wrap">
              <h2 class="tt-title">{{ 'customer.login.reset_password' | t }}</h2>
              {{ 'customer.login.reset_password_subtext' | t }}

              <div class="form-default form-top">
                {% form 'recover_customer_password' %}

                <div class="tt-base-color">
                {{ form.errors | default_errors }}
                </div>

                <div class="form-group">
                  <label for="loginInputName">{{ 'customer.login.email' | t }} {% if required != "" %}<sup>*</sup>{% endif %}</label>
                  {% if required != "" %}<div class="tt-required">{{ required }}</div>{% endif %}
                  <input value="" name="email" class="form-control" id="loginInputName" placeholder="{{ 'customer.login.email_field' | t }}" autocorrect="off" autocapitalize="off">
                </div>
                
                <div class="row">
                  <div class="col-auto">
                    <div class="form-group">
                      <button class="btn btn-border" type="submit">{{ 'customer.login.submit_recover' | t }}</button>
                    </div>
                  </div>
                  <div class="col-auto align-self-center">
                    <div class="form-group">
                      <ul class="additional-links">
                        <li>&nbsp;{{ 'customer.general.or' | t }} <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.login.cancel' | t }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                {% endform %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>