{%- comment %}<locksmith:cbec>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:cbec>{% endcomment -%}

<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html{% if settings.use_boxed %} id="tt-boxed"{% endif %} class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {{ locksmith_initializations }}
  <!-- v1.1.0 Wokiee -->
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_base }}">
  <meta name="keywords" content="{{ "general.meta.keywords" | t }}" />
  <meta name="author" content="{{ "general.meta.author" | t }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.use_favicon -%}
  	<link rel="shortcut icon" href="{{ 'jl_oldlogo_cropped.png' | asset_url }}" type="image/x-icon" />
  {%- endif -%}
  <link href="{{ 'photoswipe.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ 'default-skin.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

  <!-- Title and description ================================================== -->
  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  {%- comment %}<locksmith:9bc9>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
    {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:9bc9>{% endcomment -%}
  {%- endif -%}

  {%- if settings.use_countdown_timezone -%}<meta name="timezone" content="{{ settings.countdown_timezone }}">{%- endif -%}
  {% assign twitter_handle = 'JL_Bootmaker' %}
  <!-- Social meta ================================================== -->
    {%
      include 'social-meta-tags',
      twitter_handle: twitter_handle
    %}

  <!-- Helpers ================================================== -->

  <!-- CSS ================================================== -->
  <link href="{{ 'matty-styles.scss' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family={{ settings.font_name1 }}:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  {%- if settings.font_name1 != settings.font_name2 and settings.font_name2 != '' -%}
  <link href="https://fonts.googleapis.com/css?family={{ settings.font_name2 }}:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  {%- endif -%}
  {{ settings.google_font_links }}
  
  {%- include "include_css" -%}
  {{ 'jquery.min.js' | asset_url | script_tag | remove: ' type="text/javascript"' }}
  
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  <!-- /Header hook for plugins ================================================== -->

  {%- unless settings.show_emptyreview -%}
  <style>
    [data-rating="0.0"]{
      display:none !important;
    }
  </style>
  {%- endunless -%}
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
<body class="with-custom-header"{% if template contains '404' %}id="template404"{% elsif settings.use_scale_product_image %} id="same_product_height"{% if settings.notsamewidth %} data-type="not_same_width"{% endif %}{% endif %}>
  {%- if settings.show_helper -%}{%- section "show-helper" -%}{%- endif -%}
  {%- if settings.show_preloader -%}{%- include "main-loader" -%}{%- endif -%}

  {%- if settings.header_design == "header_type_1" -%}
  {%- capture var_header -%}{%- section "header-template" -%}{%- endcapture -%}
  {{ var_header }}
  {%- else -%}
  {%- if settings.header_design == "header_type_2" -%}
  {%- capture var_header -%}{% section 'header-template-2' %}{%- endcapture -%}
  {%- elsif settings.header_design == "header_type_3" -%}
  {%- capture var_header -%}{% section 'header-template-3' %}{%- endcapture -%}
  {%- elsif settings.header_design == "header_type_4" -%}
  {%- capture var_header -%}{% section 'header-template-4' %}{%- endcapture -%}
  {%- endif -%}
  {%- if var_header contains '<div class="CATEGORIE MOBILE"></div>' -%}
  {%- capture var_categorie_button -%}{% section 'categorie-button' %}{%- endcapture -%}
  {{ var_categorie_button | split:"[PARTMOBILE]" | first | append: "</div>" }}
  {%- assign var_categorie_mobile = var_categorie_button | split:"[PARTMOBILE]" | last | split: "[/PARTMOBILE]" | first -%}
  {%- assign var_categorie_button = var_categorie_button | split:"[PART]" | last | split: "[/PART]" | first -%}
  {{ var_header | replace: '<div class="CATEGORIE MOBILE"></div>', var_categorie_mobile | replace: "[CATEGORIE, PLEASE SAVE PAGE]", var_categorie_button }}
  {%- else -%}
  {{ var_header }}
  {%- endif -%}
  {%- endif -%}

  {% if settings.show_breadcrumbs %}{%- include "breadcrumb" -%}{% endif %}
  <div id="tt-pageContent"{% if settings.show_unavailable_variants %} class="show_unavailable_variants"{% endif %}>
    {{ content_for_layout }}
  </div>
  {%- section "footer-template" -%}
  <a href="#" class="tt-back-to-top">{{ 'general.general.to_top_button' | t }}</a>
  {%- if settings.product_item_show_quickview -%}
  {%- if content_for_layout contains 'data-target="#ModalquickView"' -%}{%- include "modal-quickview" -%}
  {%- elsif template == "index" and settings.home_page_layout == 'home-page_layout-2' -%}{%- include "modal-quickview" -%}
  {%- endif -%}{%- endif -%}
  {%- include "modal-addtocart" -%}
  {%- include "preloader-ajax" -%}

  <script>
    var theme = {},
		shop_url = '{{ shop.url }}',
    	money_format = '{{ shop.money_format }}',
        color_with_border = '{{ settings.shopby_color_filter_border }}',
        colors_value = '{{ ',' | append: settings.product_colors | strip_newlines | downcase | append: ',' }}',
    	texture_obj = function(){
      {%- assign str = '{' -%}
      {%- for i in (1..100) -%}
      {%- assign key = 'filter_color' | append:i -%}
      {%- unless settings[key] == blank -%}
      {%- assign image = 'filter_color' | append:i | append:'.png' -%}
      {%- assign image = image | asset_url -%}
      {%- if str.size > 1 -%}{%- assign str = str | append: ',' -%}{%- endif -%}
      {%- assign str = str | append:'"' | append: settings[key] | append:'"' | append: ':' | append:'"' | append: image | append:'"' -%}
      {%- endunless -%}
      {%- endfor -%}
      {%- assign str = str | append: '}' -%}
      return JSON.parse('{{ str }}');
    }
    texture_obj = texture_obj();

    var wokiee_app = {
      url: '{{ shop.metafields.ollistsapp.appurl }}',
      loader_text: '{{ "wishlist.buttons_text.tooltop_load_text" | t }}',
      main_info: {
        customerid: '{{ customer.id }}',
        iid: '{{ shop.metafields.ollistsapp.iid }}',
        shop: '{{ shop.permanent_domain }}',
      	domain: '{{ shop.domain }}',
      }
    };

    var set_day = '{{ "general.countdown.day" | t }}',
        set_hour = '{{ "general.countdown.hour" | t }}',
        set_minute = '{{ "general.countdown.minute" | t }}',
        set_second = '{{ "general.countdown.second" | t }}';
    
    var addtocart_text = '{{ "products.general.add_to_cart_html" | t }}',
    	unavailable_text = '{{ "products.general.unavailable_html" | t }}',
        addedhtml_text = '{{ "products.general.added_html" | t }}',
        errorhtml_text = '{{ "products.general.error_html" | t }}',
        wait_text = '{{ "products.general.wait_html" | t }}';
        
    var demo_rtl_string = '{{ "style-rtl.css" | asset_url | stylesheet_tag }}';
    var small_image = '{{ 'dummy.png' | asset_url }}';
    
    {% if settings.terms_cond_checkbox_show %}
    
    var $buyinoneclick = $('.buyinoneclick');
    if($buyinoneclick.length){
      $buyinoneclick.first().bind('DOMNodeInserted', function() {
        setTimeout(function(){
          var $shopifypaymentbutton = $('.buyinoneclick').find(".shopify-payment-button__button");
          if($shopifypaymentbutton.length){
            $buyinoneclick.hide();
            setTimeout(function(){
              $(".shopify-payment-button__button").attr('disabled', true);
              $buyinoneclick.fadeIn()
            }, 300);
          }
        }, 0);
      });
    }
    
    $('body').on('click', '.term-conditions-checkbox-js input', function(e){
      var _ = $(this).closest('.term-conditions-checkbox-js').parent().parent(),
          a = _.find('a[href="\/checkout"]'),
          b = _.find('button[name=checkout]'),
          b2 = _.find('.buyinoneclick button'),
      	  text = '{{ settings.terms_cond_checkbox_texterr }}';
      if($(this).is(':checked')){
        a.length && a.removeClass('disabled');
        b.length && b.removeAttr('disabled');
        b2.length && b2.removeAttr('disabled');
      }
      else{
        a.length && a.addClass('disabled');
        b.length && b.attr('disabled', true);
        b2.length && b2.attr('disabled', true);
      }
    });
    {% endif %}
  </script>
  
  {%- include "include_js" -%}
  {%- include "currencies" -%}
  {%- include 'modal-newsletter' -%}
  {%- include "modal-subscribe_message" -%}
  {%- include 'modal-wishlist-alert' -%}
  {%- section "promo-fixed" -%}

  {%- if settings.all_links_is_external or settings.menu_links_is_external or settings.external_links_is_external -%}
  <script>
    $(document).ready( function() {
      {% if settings.all_links_is_external %}
      jQuery('a').attr('target', '_blank');
      {% endif %}
      {% if settings.menu_links_is_external %}
      jQuery('.tt-desctop-menu a').attr('target', '_blank');
      jQuery('.panel-menu a').attr('target', '_blank');
      {% endif %}
      {% if settings.external_links_is_external %}
      jQuery('a[href^="http"]').attr('target', '_blank')
      {% endif %}
    });
  </script>
  {%- endif -%}
  {% include 'product-gallery-zoom' %}
  
  {%- if settings.show_helper -%}
    <script>
      var adminlinks = '{{ settings.helper_info }}';
    </script>
    {{ 'admin-panel.js' | asset_url | script_tag }}
  {%- endif -%}
  {{ 'mattys-js.js' | asset_url | script_tag }}
  {{ settings.some_code_field }}
  {% include 'structured-data' %}

<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
  <!-- Core JS file -->
<script src="{{ 'photoswipe.min.js' | asset_url }}"></script> 

<!-- UI JS file -->
<script src="{{ 'photoswipe-ui-default.min.js' | asset_url }}"></script> 
</body>
</html>
