{%- assign item = section.settings -%}
<div class="container-indent nomargin">
  <div class="tt-page404" style="background: {{ item.bg_color }};">
    {% if item.image != blank %}<img src="{{ item.image | img_url: '1024x' }}" alt="{{ item.image.alt }}">{% endif %}
    <h1 class="tt-title" style="color: {{ item.t1_color }};">{{ 'general.404.title' | t }}</h1>
    <p style="color: {{ item.t2_color }};">{{ 'general.404.subtext' | t }}</p>
    <a href="/" class="btn btn-white" style="color:{{ item.cbtntext }}; background:{{ item.cbtnbg }};" data-c="{{ item.cbtntext }}" data-ac="{{ item.acbtntext }}" data-bgc="{{ item.cbtnbg }}" data-abgc="{{ item.acbtnbg }}" data-hovercolors>{{ 'general.404.button' | t }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "404",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#2879fe"
      },
      {
        "type": "header",
        "content": "Texts"
      },
      {
        "type": "color",
        "id": "t1_color",
        "label": "Text 1 Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "t2_color",
        "label": "Text 2 Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Button Colors"
      },
      {
        "type": "color",
        "id": "cbtnbg",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "cbtntext",
        "label": "Text Color",
        "default": "#191919"
      },
      {
        "type": "color",
        "id": "acbtnbg",
        "label": "Active Background Color",
        "default": "#191919"
      },
      {
        "type": "color",
        "id": "acbtntext",
        "label": "Active Text Color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
