{%- assign item = section.settings -%}

{%- assign grid = item.items -%}
{%- assign name_collection = item.collection -%}
{%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
{%- assign collection = collections[name_collection] -%}
{%- assign length = item.limit | plus: 0 -%}

<div class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %}container-indent">
  <div class="container{% if item.fullwidth %}-fluid-custom{% endif %} container-fluid-custom-mobile-padding" data-sectionname="index_sectionproducts">
    {%- if item.show_title -%}<div class="tt-block-title">
      <h2 class="tt-title">
        {%- if item.use_title_as_link -%}<a href="/collections/{{ collection.handle }}" class="title-hover-underline" title="{{ item.button_text }}">{{ item.text1 }}</a>
        {%- else -%}{{ item.text1 }}
        {%- endif -%}
      </h2>
      {% unless item.text2 == '' %}<div class="tt-description">{{ item.text2 }}</div>{% endunless %}
      {% unless item.default_carousel %}{% unless item.text3 == '' %}<p>{{ item.text3 }}</p>{% endunless %}{% endunless %}
    </div>{%- endif -%}

    {%- if item.default_carousel -%}
    {%- assign slider_mode = true -%}
    <div class="tt-carousel-products-js row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js" data-slick='{"slidesToShow": {{ item.toshow }}, "slidesToScroll": {{ item.step }}, "autoplay": {{ item.module_autoplay }}, "autoplaySpeed": {{ item.delay_time }}}'>
      {%- for product in collection.products limit: length -%}
      <div class="col-6 col-md-4 col-lg-{{ grid }}">
        {%- include "product-grid-item" -%}
      </div>
      {%- endfor -%}
    </div>
    {%- else -%}
    <div class="row tt-layout-product-item{% if item.items_always_in_center %} justify-content-center{% endif %}">
      {%- for product in collection.products limit: length -%}
      <div class="col-6 col-md-4 col-lg-{{ grid }}">
        {%- include "product-grid-item" -%}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
    
    {%- if item.show_button -%}
    <div class="text-center">
      <a href="/collections/{{ collection.handle }}" class="btn btn-border btn-top">{{ item.button_text }}</a>
    </div>
    {%- endif -%}

  </div>
</div>


{% schema %}
  {
    "name": "Products",
	"class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "top_offset",
        "label": "Top Offset",
        "default": "normal",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth size",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show Title Block",
        "default": true
      },
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "OUR COLLECTIONS"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "SUMMER 2018",
		"info": "Empty field = hide field"
      },
      {
        "type": "textarea",
        "id": "text3",
        "label": "Big description",
		"info": "Empty field = hide field. Not work with slider mode"
      },
      {
        "type": "header",
        "content": "Show all button"
      },
      {
        "type": "checkbox",
        "id": "use_title_as_link",
        "label": "Use title as link to the collection",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show button",
        "default": false
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
		"default": "SHOW ALL"
      },
      {
        "type": "header",
        "content": "Products settings"
      },
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "checkbox",
        "id": "items_always_in_center",
        "label": "Products in center",
        "default": false
      },
      {
        "type": "text",
        "id": "limit",
        "label": "Items Length. Integer",
        "default": "8"
      },
      {
        "type": "select",
        "id": "items",
        "label": "Products In Row",
        "options": [
          { "value": "6", "label": "2" },
          { "value": "4", "label": "3" },
          { "value": "3", "label": "4" }
        ],
        "default": "3",
        "info": "For screen size > 1024"
      },
      {
        "type": "header",
        "content": "By Default Carousel"
      },
      {
        "type": "checkbox",
        "id": "default_carousel",
        "label": "Default Carousel",
        "default": false
      },
      {
        "type": "select",
        "id": "toshow",
        "label": "Items in row",
        "options": [
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" },
          { "value": "5", "label": "5" },
          { "value": "6", "label": "6" }
        ],
        "default": "4",
        "info": "For screen size > 1024"
      },
      {
        "type": "select",
        "id": "step",
        "label": "Slides To Scroll",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "module_autoplay",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "select",
        "id": "delay_time",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
	],
    "presets": [
      {
        "name": "Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}