{%- assign item = section.settings -%}
<div class="container-indent">
  <div class="container" data-sectionname="index_brands">
    {%- if section.blocks.size > 0 -%}
    <div class="row tt-carousel-brands arrow-location-center-02 tt-arrow-hover" data-slick='{"slidesToShow": {{ item.toshow }}, "slidesToScroll": {{ item.step }}, "autoplay": {{ item.module_autoplay }}, "autoplaySpeed": {{ item.delay_time }}}'>
      {%- for block in section.blocks -%}{%- assign b_i = block.settings -%}
      <div {{ block.shopify_attributes }}>
        <a href="{{ b_i.link }}">
          {%- if b_i.image != blank -%}{% assign img_url = b_i.image | img_url: 'large' %}
          {%- else -%}{% assign img_url = 'template_brand.png' | asset_url %}
          {%- endif -%}
          <img src="{{ img_url }}" alt="{{ b_i.image.alt }}">
        </a>
      </div>
      {%- endfor -%}
    </div>
    {%- else -%}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "Brands list",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "toshow",
      "label": "Products In Row",
      "options": [
		{ "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" },
        { "value": "7", "label": "7" }
      ],
      "default": "6",
	  "info": "For screen size > 1024"
    },
    {
      "type": "select",
      "id": "step",
      "label": "Slides To Scroll",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "module_autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "select",
      "id": "delay_time",
      "label": "Change slides every",
      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "7000"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brands list",
      "category": "Sliders",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}