{%- assign item = section.settings -%}
{%- assign logo_size = item.logo_max_width | append: 'x' -%}
<div id="tt-pageContent">
  <div class="tt-coming-soon"{% if item.image != blank %} style="background-image: url({{ item.image | img_url: '2048x' }});"{% endif %}>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 tt-coming-soon-content">
          
          {% if item.show_logo %}{% if item.image_l != blank %}
          <div class="tt-logo"><img class="tt-retina" src="{{ item.image_l | img_url: logo_size }}" alt="{{ item.image_l.alt }}"></div>
          {% endif %}{% endif %}
          
          {% if item.t1 != '' %}<h1 class="tt-title">{{ item.t1 }}</h1>{% endif %}
          {% if item.t2 != '' %}<div class="description">{{ item.t2 }}</div>{% endif %}
          
          {% if item.show_n %}
          {% if item.n_t1 != '' %}<h2 class="tt-title">{{ item.n_t1 }}</h2>{% endif %}
          {%- if item.use_mailchimp_form -%}
          {% if settings.mailchimp_form_action != "" %}
          <div class="form-inline form-default justify-content-center">
            <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
              <div class="form-group">
                <input type="email" name="EMAIL" class="form-control" id="inputEmail2" placeholder="{{ item.n_t2 }}">
                <button type="submit" class="btn btn-primary">{{ item.n_t3 }}</button>
              </div>
            </form>
          </div>
          {% else %}
          <strong class="text-center" style="display: inline-block; margin-bottom: 60px;"><u><a href="{{ shop.url }}/admin/themes">
            Add newsletter redirect link in:<br>
            Customize Theme / General Settings / Newsletter / MailChimp form action URL
            </a></u></strong>
          {% endif %}
          {% else %}
          <div class="form-inline form-default justify-content-center">
            {%- form 'customer' -%}
            {{ form.errors | default_errors }}
            <div class="form-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                     name="contact[email]"
                     class="form-control"
                     value=""
                     placeholder="{{ item.n_t2 }}"
                     autocomplete="off"
                     autocapitalize="off"
                     spellcheck="false" >
              <button type="submit" class="btn" name="commit">{{ item.n_t3 }}</button>
            </div>
          </div>
          {%- endform -%}
          {% endif %}
          {% endif %}

          {% if item.show_p %}
          {% if item.p_t1 != '' %}<h2 class="tt-title">{{ item.p_t1 }}</h2>{% endif %}
          <div class="form-inline form-default justify-content-center">
            {% form 'storefront_password' %}
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="inputPassword2" placeholder="{{ item.p_t2 }}">
              <button type="submit" class="btn btn-primary">{{ item.p_t3 }}</button>
            </div>
              {{ form.errors | default_errors }}
            {% endform %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="coming-soon-bottom">
      {% if item.f_t1 != '' %}<p>
        {{ item.f_t1 }}
      </p>{% endif %}
      {% if section.blocks.size > 0 %}
      <ul class="tt-social-icon">
        {% for block in section.blocks %}
        {% assign b_i = block.settings %}
        <li>
          <a href="{{ b_i.link }}" target="blank" class="{{ b_i.icon }}"></a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Settings",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show logo",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_l",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Logo Main width (in pixels)",
        "default": "175"
      },
      {
        "type": "header",
        "content": "Texts"
      },
      {
        "type": "textarea",
        "id": "t1",
        "label": "Title",
		"default": "WEBSITE IS COMING SOON"
      },
      {
        "type": "textarea",
        "id": "t2",
        "label": "Description",
		"default": "Successful brands get into the mind slowly. A blurb in a magazine. A mention in a newspaper. A comment from a friend. A display in a retail store."
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_n",
        "label": "Show newsletter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_mailchimp_form",
        "label": "Use mailchimp",
        "default": true,
		"info": "Default address - shopify store admin panel in tab customers"
      },
      {
        "type": "textarea",
        "id": "n_t1",
        "label": "Title",
		"default": "SUBSCRIBE TO OUR NEWSLETTER"
      },
      {
        "type": "textarea",
        "id": "n_t2",
        "label": "Form Text",
		"default": "Enter your e-mail"
      },
      {
        "type": "textarea",
        "id": "n_t3",
        "label": "Button Text",
		"default": "SUBSCRIBE"
      },
      {
        "type": "header",
        "content": "Password"
      },
      {
        "type": "checkbox",
        "id": "show_p",
        "label": "Show password",
        "default": true
      },
      {
        "type": "textarea",
        "id": "p_t1",
        "label": "Title",
		"default": "ENTER THE PASSWORD TO GET ACCESS TO THE SITE"
      },
      {
        "type": "textarea",
        "id": "p_t2",
        "label": "Form Text",
		"default": "Enter Password"
      },
      {
        "type": "textarea",
        "id": "p_t3",
        "label": "Button Text",
		"default": "ENTER"
      },
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "textarea",
        "id": "f_t1",
        "label": "Copyright",
		"default": "&copy; Wokiee 2018. All Rights Reserved"
      }
    ],
    "blocks": [
      {
        "type": "social",
        "name": "Social Button",
        "settings": [
          {
            "type": "paragraph",
            "content": "icon-g-64 (facebook)"
          },
          {
            "type": "paragraph",
            "content": "icon-g-58 (twitter)"
          },
          {
            "type": "paragraph",
            "content": "icon-g-66 (gmail)"
          },
          {
            "type": "paragraph",
            "content": "icon-g-67 (instagram)"
          },
          {
            "type": "paragraph",
            "content": "icon-g-70 (pinterest)"
          },
          {
            "type": "text",
            "id": "icon",
            "label": "Icon code",
            "default": "icon-g-64"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
	]
  }
{% endschema %}